<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" [ngClass]="status.isMap ? 'navbarMap' : {}">
    <a class="navbar-brand" href="#">AccessViewer</a>

    <button id="navbar-toogler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" (click)="changeTooglerNavbar()" (clickOutside)="changeTooglerNavbar()">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="[ '/home' ]">Home</a>
            </li>
        </ul>
    </div>
</nav>