<div class="container animated fadeIn slower">
    <div class="row">
        <div class="col-12 my-5">
            <div class="col-12 h2 text-center mt-3">Sistema de acceso</div>
            <div class="col-12 h4 text-center">Equipo Gantalcar <i class="fa fa-car"></i></div>
        </div>
        <div class="col-12">
            <div class="row my-2">
                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">Alejandro Martín Simón Sánchez</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/alex.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del MUii en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/alejandrosimonsanchez/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">Antonio Morán Muñoz</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/antonio.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del MUii en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/antonio-morán-muñoz-64a8321a5/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">Gabriel Gómez López</div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/gabriel.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del MUii en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/gabrielgl8/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <div class="card mb-3">
                        <div class="card-header">Carlos Negrillo Pastor</div>
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    <div class="profile-photo" style="background-image:url('../../../assets/img/profile/carlos.jpg'); width:100px; height:100px; background-position:center; background-size: 100px;">&nbsp;</div>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <div class="p">
                                        Estudiante del MUii en la UCLM
                                    </div>
                                    <div class="p">
                                        <a href="https://www.linkedin.com/in/carlos-negrillo-pastor-592858188/">LinkedIn <i class="fa fa-linkedin"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row container">
                <div class="col-12">
                    <div class="h3">Recursos utilizados</div>
                    <h4>Frameworks y herramientas</h4>
                    <ul>
                        <li><a href="https://aws.amazon.com/es/">AWS</a></li>
                        <li><a href="https://angular.io">Angular</a></li>
                        <li><a href="https://nodejs.org/en/">Node.js</a></li>
                        <li><a href="https://expressjs.com">Express</a></li>
                        <li><a href="https://leafletjs.com">Leaflet</a></li>
                        <li><a href="https://aws.amazon.com/es/s3/">Amazon AWS S3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>